@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato:100');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    overflow-x: hidden;
}